/* About / Чем мы занимаемся */
.about {
    @extend %section;
    &__container {
        @extend %container
    }
    &__title {
        @extend %section__title;
    }
    &__list {
        @extend %list;
        display:flex;
        justify-content: space-between;
        
    }
    &__item {
    position: relative;
    width: 370px;
    display: flex;
    z-index: -1;
    }
    &__subject {
        position: absolute;
        left: 0;
        bottom: 0;
        margin: 0;
        padding: 27px 0;
        width: 100%;
        height: 70px;
        background: rgba(47, 48, 58, 0.8);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}